@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Noto Sans KR', sans-serif;
}

html{
    position: relative;
    width: 350px;
    margin: auto;
    /* font-size: 0.3vw; */
    font-size: 3.5px;
}
/* body{
    font-size: 1.6rem;
} */
@media screen and (max-width:700px) {
    html{ 
        font-size: 1vw;
        width: 100%;
        margin: auto;        
    }
}
